.top-bar {
  height: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: grey;
  .top-left {
    float: left;
    img {
      width: 25px;
    }
  }
  .top-center {
    line-height: 25px;
  }
  .top-right {
    float: right;
    img {
      width: 25px;
    }
  }
}
